@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --clr-fb: #4064AC;
    --clr-yt: #ff0000;
    --clr-tw: #1C9BE9;
    --clr-ig: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}

.sci{
    position: relative;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li::before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
}
.sci li:hover::before{
    opacity: 0.1;
    transform: translate(-50%, calc(-50% + 150px));
}

.sci li a{
    position: relative;
    display: inline-block;
    height: 120px;
    width: 120px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0,0,0, 0.1);
    transition: background 0.25s ease;
}

.sci li a:hover.facebook{
    background: var(--clr-fb);
}
.sci li a:hover.youtube{
    background: var(--clr-yt);
}
.sci li a:hover.twitter{
    background: var(--clr-tw);
}
.sci li a:hover.instagram{
    /* background: #e4405f; */
    background: var(--clr-ig) }

.sci li a:hover .fab{
    color: #fff;
    transform: scale(1.75) translateZ(50px);
}